@use '/src/styles/colors' as colors;

$border: 2px solid colors.$neutral-100;
$left-side-width: 550px;
$middle-side-width: 540px;
$memebers-section-width: 215px;

@mixin border--big {
  border: 2px solid colors.$neutral-100;
  border-radius: 25px;
}

@mixin border {
  border: 1px solid colors.$neutral-100;
  border-radius: 10px;
}
.event-details {
  margin: 1rem;
  color: colors.$neutral-100;
  // max-width: calc(100% - 20p);
  // overflow: hidden;
  // h1 {
  //   padding: 0;
  //   margin: 0;
  //   line-height: 1.5;
  // }
  & > h1 {
    line-height: 1;
    margin-top: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 80vw;
  }
  &__navigation {
    width: 34%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid colors.$neutral-100;
    padding-bottom: 0.5rem;
  }

  &__labels {
    display: flex;
    max-width: $left-side-width;
    flex-wrap: wrap;
    margin: 0.8rem 0 1.5rem 0;

    & > div {
      border: 1px solid colors.$neutral-100;
      margin: 0 2px;
      padding: 0.2rem 0.3rem;
      background: linear-gradient(360deg, #323232 0%, #2c2120 94.13%);
    }
    & > div:first-child {
      border-radius: 25px 0 0 25px;
    }
    & > div:last-child {
      border-radius: 0 25px 25px 0;
    }
  }

  &__main-section {
    display: flex;
    column-gap: 0.5rem;
    & > div {
      display: flex;
      row-gap: 0.8rem;
      flex-direction: column;
    }
  }
  &__top-section {
    // width: $left-side-width;
    display: flex;
    // flex-direction: column;
    column-gap: 0.5rem;
    & > img {
      @include border--big();
      width: $left-side-width;
      height: 380px;
    }

    // & > article {
    //   min-height: 190px;
    //   background: linear-gradient(360deg, #323232 0%, #2c2120 94.13%);
    //   width: $left-side-width;
    //   padding: 2rem 1rem;
    //   @include border--big();
    // }
  }

  &__date-location {
    background: linear-gradient(360deg, #323232 0%, #2c2120 94.13%);
    @include border--big();
    width: $middle-side-width;
    padding: 3rem 1.5rem 0 1.5rem;
    height: 380px;
    display: flex;
    justify-content: space-between;
  }

  &__date {
    width: 45%;
    & > h2 {
      line-height: 1;
    }
    & > p {
      font-family: 'Eczar', 'sans-serif';
    }
    & > p:first-of-type {
      font-size: 1.25rem;
      margin: 1rem 0;
    }
    & > p:nth-of-type(2) {
      margin-bottom: 1rem;
      font-size: 1.125rem;
    }
    .hour {
      background-color: colors.$neutral-100;
      border-radius: 25px;
      color: colors.$primary-800;
      text-align: center;
    }
  }

  &__location {
    width: 50%;
  }

  &__map {
    margin: 1rem 0;
    height: 200px;
    width: 100%;
  }

  &__middle-section {
    display: flex;
    // flex-direction: column;
    column-gap: 0.5rem;

    & > article {
      min-height: 190px;
      background: linear-gradient(360deg, #323232 0%, #2c2120 94.13%);
      width: $left-side-width;
      padding: 2rem 1rem;
      @include border--big();
    }
  }

  &__add-comment {
    background: linear-gradient(360deg, #323232 0%, #2c2120 94.13%);
    @include border--big();
    width: $middle-side-width;
    // height: 190px;
  }

  &__bottom-section {
    display: flex;
    // flex-direction: column;
    column-gap: 0.5rem;
    // gap: 1rem;
    // row-gap: 0.5rem;
  }

  &__poll {
    display: flex;
    width: $left-side-width;
    justify-content: space-between;
    margin-bottom: 1rem;

    & > div {
      text-align: center;
      background: linear-gradient(360deg, #323232 0%, #2c2120 94.13%);
      @include border();
      flex-basis: 80%;
      padding: 0.4rem;
    }
    & > button {
      background: linear-gradient(360deg, #323232 0%, #2c2120 94.13%);
      @include border();
      flex-basis: 15%;
      & > mat-icon {
        // stroke: white;
        // border: none;
        // stroke: none;
        // background-color: #2c2120 !important;
        // color: white;
      }
    }
  }
  &__coments {
    background: linear-gradient(360deg, #323232 0%, #2c2120 94.13%);
    @include border--big();
    width: $middle-side-width;
    // height: 400px;
    // width: 400px;
  }

  &__members-section {
    // height: 100%;
    // align-items: stretch;
    // justify-content: stretch;
    width: $memebers-section-width;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    background: linear-gradient(360deg, #323232 0%, #2c2120 94.13%);
    border-top: $border;
    border-left: $border;
    border-bottom: $border;
    border-radius: 25px 0 0 25px;

    li {
      list-style: none;
      margin: 0.5rem 0;
      display: flex;
      align-items: center;
    }
    li > img {
      width: 25px;
      height: 25px;
      margin-left: 1rem;
      filter: invert(88%) sepia(77%) saturate(7494%) hue-rotate(329deg) brightness(107%)
        contrast(84%);
    }
  }

  &__search-wrapper {
    position: relative;
    margin-bottom: 1rem;
    & > mat-icon {
      position: absolute;
      left: 0.5rem;
      top: 0.5rem;
      color: colors.$accent-gold-600;
    }
  }

  &__search-input {
    all: unset;
    color: colors.$neutral-100;
    width: 70%;
    // min-width: 80px;
    flex-grow: 1;
    background-color: colors.$primary-900;
    border: 2px solid colors.$primary-500;
    border-radius: 10px;
    padding: 0.2rem 1rem 0.2rem 2rem;
  }
}
