@use '/src/styles/breakpoints' as breakpoints;
@use '/src/styles/colors' as colors;
@use '/src/styles/styles.scss' as styles;

.navbar {
  @extend .bg-gradient-primary-1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: styles.$max-app-width;
  height: 89px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logoImg {
    height: 100%;
  }
  &__logoImg:hover {
    cursor: pointer;
  }
  &__bell {
    margin-right: 1rem;
    position: absolute;
    right: 89px;
    height: 100%;
    width: 89px;
    background-image: url('../../../../assets/bell.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__notification {
      display: block;
      position: absolute;
      bottom: 10%;
      right: 15%;
      width: min-content;
      height: min-content;
    }
  }
  &__menu-mobile-icon {
    display: block;
    height: 100%;
    width: 89px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 5%;
  }
  &__menu-mobile-icon:hover {
    cursor: pointer;
  }
  .active {
    background-image: url('../../../../assets/closeMenu.svg');
    transform: scale(75%);
  }
  .inactive {
    background-image: url('../../../../assets/hamburger.svg');
    transform: scale(50%);
  }
}

@include breakpoints.media-md {
  .navbar {
    &__bell {
      right: 0;
    }
    &__menu-mobile-icon {
      display: none;
    }
  }
}
