@use '/src/styles/breakpoints' as breakpoints;
@use '/src/styles/colors' as colors;
@use '/src/styles/styles.scss' as styles;

.navbar {
  @extend .bg-gradient-primary-1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: styles.$max-app-width;
  height: 89px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logoImg {
    height: 100%;
  }
  &__logoImg:hover {
    cursor: pointer;
  }
  &__bell {
    margin-right: 1rem;
    position: absolute;
    right: 89px;
    height: 100%;
    width: 89px;
    background-image: url('../../../../assets/bell.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__notification {
      display: block;
      position: absolute;
      bottom: 10%;
      right: 15%;
      width: min-content;
      height: min-content;
    }
  }
  &__hamburger {
    display: inline-block;
    cursor: pointer;
    margin-right: 50px;
    &__bar1,
    &__bar2,
    &__bar3 {
      width: 44.5px;
      height: 5px;
      background: linear-gradient(90deg, #dfce98 20.82%, #99783f 78.72%);
      margin: 6px 0;
      transition: 0.4s;
    }
  }
  .change .navbar__hamburger__bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .change .navbar__hamburger__bar2 {
    opacity: 0;
  }

  .change .navbar__hamburger__bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
}

@include breakpoints.media-md {
  .navbar {
    &__bell {
      right: 0;
    }
    .hamburger {
      display: none;
    }
  }
}
