@use '/src/styles/colors' as colors;
@use '/src/styles/typography' as typography;
@use '/src/styles/breakpoints' as breakpoints;

.circle {
  @extend .text-body-small;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid colors.$primary-500;
  background-color: colors.$primary-900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: colors.$accent-gold-600;
}

@include breakpoints.media-md {
  .circle {
    width: 30px;
    height: 30px;
  }
}
