<div class="event-form-container">
    <h1 class="text-h1 text-white event-form-container__header">
        Utwórz nowe wydarzenie
    </h1>

    <form [formGroup]="newEventForm">
        <mat-stepper [linear]="true" animationDuration="0ms" #stepper>
            <div class="bg-gradient-neutral-3">
                <mat-step [stepControl]="eventType">
                    <div class="form-step-1" formGroupName="eventType">
                        <ng-template matStepLabel> Typ wydarzenia </ng-template>
                        <div class="radio-group">
                            <app-radio-button
                                formControlName="eventAccessType"
                                [groupName]="'eventAccessType'"
                                [id]="'eventAccessType-acccept'"
                                [label]="eventTypes.PUBLIC"
                                [ariaLabel]="'Typ dostępu wydarzenia'"
                                [isChecked]="false">
                            </app-radio-button>
                            <div class="radio-group__separator"></div>
                            <app-radio-button
                                formControlName="eventAccessType"
                                [groupName]="'eventAccessType'"
                                [id]="'eventAccessType-decline'"
                                [ariaLabel]="'Typ dostępu wydarzenia'"
                                [label]="eventTypes.PRIVATE"
                                [isChecked]="false">
                            </app-radio-button>
                        </div>

                        <div class="radio-group">
                            <app-radio-button
                                formControlName="eventScopeType"
                                [groupName]="'eventScopeType'"
                                [id]="'eventScopeType-acccept'"
                                [label]="eventTypes.INTERNAL"
                                [ariaLabel]="'Typ dostępu wydarzenia'"
                                [isChecked]="false">
                            </app-radio-button>
                            <div class="radio-group__separator"></div>
                            <app-radio-button
                                formControlName="eventScopeType"
                                [groupName]="'eventScopeType'"
                                [id]="'eventScopeType-decline'"
                                [ariaLabel]="'Typ dostępu wydarzenia'"
                                [label]="eventTypes.EXTERNAL"
                                [isChecked]="false">
                            </app-radio-button>
                        </div>

                        <div class="radio-group">
                            <app-radio-button
                                formControlName="eventLimitType"
                                [groupName]="'eventLimitType'"
                                [id]="'eventLimitType-acccept'"
                                [label]="eventTypes.UNLIMITED"
                                [ariaLabel]="'Typ limitu osób dla wydarzenia'"
                                [isChecked]="false">
                            </app-radio-button>
                            <div class="radio-group__separator"></div>
                            <app-radio-button
                                formControlName="eventLimitType"
                                [groupName]="'eventLimitType'"
                                [id]="'eventLimitType-decline'"
                                [ariaLabel]="'Typ limitu osób dla wydarzenia'"
                                [label]="eventTypes.LIMITED"
                                [isChecked]="false">
                            </app-radio-button>
                        </div>
                        <div class="radio-group">
                            <app-radio-button
                                formControlName="eventRepeatType"
                                [groupName]="'eventRepeatType'"
                                [id]="'eventRepeatType-acccept'"
                                [label]="eventTypes.UNLIMITED"
                                [ariaLabel]="'Typ powtarzalności wydarzenia'"
                                [isChecked]="false">
                            </app-radio-button>
                            <div class="radio-group__separator"></div>
                            <app-radio-button
                                formControlName="eventRepeatType"
                                [groupName]="'eventRepeatType'"
                                [id]="'eventRepeatType-decline'"
                                [ariaLabel]="'Typ powtarzalności wydarzenia'"
                                [label]="eventTypes.LIMITED"
                                [isChecked]="false">
                            </app-radio-button>
                        </div>

                        <div
                            class="mat-step-nav-buttons mat-step-nav-buttons--one-button">
                            <button
                                class="btn-rect btn-rect--sm btn-default btn-step-one"
                                matStepperNext
                                type="button">
                                Dalej
                            </button>
                        </div>
                    </div>
                </mat-step>
                <mat-step
                    [stepControl]="eventDetails"
                    label="Szczegóły"
                    errorMessage="Krok wymagany">
                    <div formGroupName="eventDetails">
                        <mat-form-field>
                            <mat-label>Tytuł</mat-label>
                            <input
                                matInput
                                formControlName="eventName" /> </mat-form-field
                        ><mat-form-field>
                            <mat-label>Opis</mat-label>
                            <input
                                matInput
                                formControlName="eventDescription" />
                        </mat-form-field>
                        <div>
                            <mat-label>Data i godzina rozpoczęcia</mat-label>
                            <input
                                type="datetime-local"
                                formControlName="eventDateTimeFrom" />
                        </div>
                        <div>
                            <mat-label>Data i godzina zakończenia</mat-label>
                            <input
                                type="datetime-local"
                                formControlName="eventDateTimeTo" />
                        </div>
                        <mat-form-field>
                            <mat-label>Lokalizacja</mat-label>
                            <input matInput formControlName="eventLocation" />
                        </mat-form-field>
                        <div class="mat-step-nav-buttons">
                            <button
                                class="btn-rect btn-rect--sm btn-default"
                                matStepperPrevious
                                type="button">
                                Wstecz</button
                            ><button
                                class="btn-rect btn-rect--sm btn-default"
                                matStepperNext
                                type="button">
                                Dalej
                            </button>
                        </div>
                    </div> </mat-step
                ><mat-step
                    [stepControl]="eventAdditionalInfo"
                    label="Dodatkowe informacje">
                    <div formGroupName="eventAdditionalInfo">
                        <mat-form-field>
                            <mat-label>Hashtags</mat-label>
                            <input matInput formControlName="eventHashtags" />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Kategoria</mat-label>
                            <input matInput formControlName="eventCategory" />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Główny obraz</mat-label>
                            <input matInput formControlName="eventPhoto" />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Tło karty</mat-label>
                            <input matInput formControlName="eventCardBg" />
                        </mat-form-field>
                        <div class="mat-step-nav-buttons">
                            <button
                                class="btn-rect btn-rect--sm btn-default"
                                matStepperPrevious
                                type="button">
                                Wstecz</button
                            ><button
                                class="btn-rect btn-rect--sm btn-default"
                                matStepperNext
                                type="button">
                                Dalej
                            </button>
                        </div>
                    </div> </mat-step
                ><mat-step label="Podsumowanie">
                    <div>
                        <div class="mat-step-nav-buttons">
                            <button
                                class="btn-rect btn-rect--sm btn-default"
                                matStepperPrevious
                                type="button">
                                Wstecz</button
                            ><button
                                class="btn-rect btn-rect--sm btn-default"
                                matStepperNext
                                type="submit">
                                Utwórz
                            </button>
                        </div>
                    </div>
                </mat-step>
            </div>
        </mat-stepper>
    </form>
</div>
