@use './src/styles/breakpoints' as br;
@use './src/styles/colors' as colors;

.mat-mdc-radio-group {
  display: block;
}

.btn-step-one {
  margin: 1rem;
}
.event-form-container {
  padding-top: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: clamp(21px, 3.5vw, 80px) clamp(13px, 3.5vw, 160px);
  width: clamp(280px, 80vw, 1130px);
  margin-inline: auto;

  &__header {
    color: colors.$neutral-100;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid colors.$neutral-100;
    line-height: 1.3;
  }
}

.mat-step-nav-buttons {
  position: relative;
  background-color: transparent;
  width: auto;
  display: flex;
  justify-content: space-between;
  &--one-button {
    display: flex;
    justify-content: center;
    @include br.media-md {
      justify-content: flex-end;
    }
  }
}

.form-step-1 {
  margin: 0rem 5rem;
}

.radio-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2rem 0;

  &__separator {
    height: 1px;
    background-color: colors.$accent-gold-500;
    width: 40%;
  }
}
