<form>
    <mat-form-field appearance="fill">
        <mat-label>Hashtags</mat-label>
        <mat-chip-grid #chipGrid aria-label="Hashtag selection">
            <mat-chip-row
                *ngFor="let hashtag of hashtags"
                (removed)="remove(hashtag)"
                [editable]="true"
                (edited)="edit(hashtag, $event)">
                {{ hashtag }}
                <button matChipRemove [attr.aria-label]="'remove ' + hashtag">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-chip-row>
            <input
                placeholder="Nowy hashtag"
                #hashtagInput
                [formControl]="hashtagCtrl"
                [matChipInputFor]="chipGrid"
                [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addHashtag($event)" />
        </mat-chip-grid>
        <mat-error *ngIf="hashtagCtrl.errors">
            >Maksymalna ilość znaków to
            {{ hashtagCtrl.errors!['maxLength']['requiredLength'] }}</mat-error
        ><mat-error *ngIf="hashtagCtrl.hasError('pattern')">
            >test</mat-error
        ></mat-form-field
    >
    <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selected($event)">
        <ng-container *ngIf="hashtagCtrl.value">
            <mat-option
                *ngFor="
                    let hashtag of filteredHashtags$ | async | slice : 0 : 5
                "
                [value]="hashtag"
                [innerHTML]="hashtag | highlight : hashtagCtrl.value"
                >{{ hashtag }}
            </mat-option></ng-container
        >
    </mat-autocomplete>
</form>
