<menu class="dropdown dropdown--unit">
    <div class="dropdown__section">
        <p class="text-body">CZAS DO ROZPOCZĘCIA</p>
        <button
            class="dropdown__section__holder"
            (click)="toggleSortRadio(sort_date_asc)">
            <input
                #sort_date_asc
                name="sortRadio"
                type="radio"
                value="Rosnaco"
                id="date-ascending"
                class="dropdown__sort-option" />
            <label for="date-ascending">Rosnąco</label>
        </button>
        <button
            class="dropdown__section__holder"
            (click)="toggleSortRadio(sort_date_desc)">
            <input
                #sort_date_desc
                name="sortRadio"
                type="radio"
                value="Malejaco"
                id="date-deccending"
                class="dropdown__sort-option" />
            <label for="date-decsending">Malejąco</label>
        </button>
    </div>
    <div class="dropdown__section">
        <p class="text-body">NAZWA</p>
        <button
            class="dropdown__section__holder"
            (click)="toggleSortRadio(sort_name_asc)">
            <input
                #sort_name_asc
                name="sortRadio"
                type="radio"
                value="Rosnaco"
                id="name-ascending"
                class="dropdown__sort-option" />
            <label for="name-ascending">Rosnąco</label>
        </button>
        <button
            class="dropdown__section__holder"
            (click)="toggleSortRadio(sort_name_desc)">
            <input
                #sort_name_desc
                name="sortRadio"
                type="radio"
                value="Malejaco"
                id="name-deccending"
                class="dropdown__sort-option" />
            <label for="name-descending">Malejąco</label>
        </button>
    </div>
</menu>
