<menu class="dropdown dropdown--unit">
    <div class="dropdown__section">
        <p class="text-body">CZAS DO ROZPOCZĘCIA</p>
        <div
            class="dropdown__section__holder"
            (click)="toggleSortRadio(sortRadio1)">
            <input
                #sortRadio1
                name="sortRadio"
                type="radio"
                value="Rosnaco"
                id="date-ascending"
                class="dropdown__section__holder__sort-option" />
            <label for="date-ascending">Rosnąco</label>
        </div>
        <div
            class="dropdown__section__holder"
            (click)="toggleSortRadio(sortRadio2)">
            <input
                #sortRadio2
                name="sortRadio"
                type="radio"
                value="Malejaco"
                id="date-deccending"
                class="dropdown__section__holder__sort-option" />
            <label for="date-deccending">Malejąco</label>
        </div>
    </div>
    <div class="dropdown__section">
        <p class="text-body">NAZWA</p>
        <div
            class="dropdown__section__holder"
            (click)="toggleSortRadio(sortRadio3)">
            <input
                #sortRadio3
                name="sortRadio"
                type="radio"
                value="Rosnaco"
                id="name-ascending"
                class="dropdown__section__holder__sort-option" />
            <label for="name-ascending">Rosnąco</label>
        </div>
        <div
            class="dropdown__section__holder"
            (click)="toggleSortRadio(sortRadio4)">
            <input
                #sortRadio4
                name="sortRadio"
                type="radio"
                value="Malejaco"
                id="name-deccending"
                class="dropdown__section__holder__sort-option" />
            <label for="name-deccending">Malejąco</label>
        </div>
    </div>
</menu>
