<menu class="dropdown dropdown--unit">
    <div class="dropdown__section">
        <p class="text-body">CZAS DO ROZPOCZĘCIA</p>
        <button
            class="dropdown__section__holder"
            (click)="toggleSortRadio(sortByDateAscending)">
            <input
                #sortByDateAscending
                name="sortRadio"
                type="radio"
                value="Rosnaco"
                id="date-ascending-unit"
                class="dropdown__sort-option" />
            <label for="date-ascending-unit">Rosnąco</label>
        </button>
        <button
            class="dropdown__section__holder"
            (click)="toggleSortRadio(sortByDateDescending)">
            <input
                #sortByDateDescending
                name="sortRadio"
                type="radio"
                value="Malejaco"
                id="date-decsending-unit"
                class="dropdown__sort-option" />
            <label for="date-decsending-unit">Malejąco</label>
        </button>
    </div>
    <div class="dropdown__section">
        <p class="text-body">NAZWA</p>
        <button
            class="dropdown__section__holder"
            (click)="toggleSortRadio(sortByNameAscending)">
            <input
                #sortByNameAscending
                name="sortRadio"
                type="radio"
                value="Rosnaco"
                id="name-ascending-unit"
                class="dropdown__sort-option" />
            <label for="name-ascending-unit">Rosnąco</label>
        </button>
        <button
            class="dropdown__section__holder"
            (click)="toggleSortRadio(sortByDateDescending)">
            <input
                #sortByDateDescending
                name="sortRadio"
                type="radio"
                value="Malejaco"
                id="name-descending-unit"
                class="dropdown__sort-option" />
            <label for="name-descending-unit">Malejąco</label>
        </button>
    </div>
</menu>
