<div class="side-menu-container">
    <mat-sidenav-container>
        <div class="side-menu-container__left">
            <div class="side-menu-container__leftTop">
                <button
                    class="side-menu-category"
                    [ngClass]="{
                        ' active ': selectedCategory.categoryName === 'logout'
                    }"
                    [matTooltip]="'Wyloguj' | titlecase"
                    matTooltipPosition="above"
                    mat-button
                    (click)="logout()">
                    <img
                        class="icon"
                        src="../../../../assets/side-menu-icons/exit.svg"
                        alt="" />
                </button>
            </div>
            <div class="side-menu-container__leftBottom">
                <div
                    class="side-menu-category"
                    *ngFor="let category of menuCategories">
                    <button
                        class="side-menu-category"
                        [ngClass]="{
                            ' active ':
                                selectedCategory.categoryName ===
                                category.categoryName
                        }"
                        [matTooltip]="category.categoryName | titlecase"
                        matTooltipPosition="above"
                        mat-button
                        (click)="
                            category.href
                                ? navigate(category)
                                : toggleMenu(category, mobileMenuTrigger)
                        ">
                        <img
                            class="icon"
                            [src]="category.categoryIcon"
                            [alt]="category.categoryName" />
                        <div
                            #mobileMenuTrigger="matMenuTrigger"
                            [matMenuTriggerFor]="appMenu"></div>
                    </button>
                </div>
            </div>
        </div>
    </mat-sidenav-container>

    <!-- Desktop side menu -->
    <div
        class="side-menu-container__right display-side-menu-desktop bg-gradient-primary-2 text-h4"
        [ngClass]="{
            ' menu-visible ': isDesktopMenuVisible,
            ' transition ':
                selectedCategory.subCategories !== undefined &&
                !disableAnimations
        }">
        <ul>
            <li *ngFor="let subCategory of selectedCategory.subCategories">
                <a
                    [routerLink]="subCategory.href"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    {{ subCategory.subCategoryName | titlecase }}
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- Mobile side menu -->
<mat-menu #appMenu="matMenu" class="mobile-side-menu hidden">
    <ng-template matMenuContent let-subCategories="subCategories">
        <a
            class="category-item"
            mat-menu-item
            *ngFor="let subCategory of subCategories"
            [routerLink]="subCategory.href"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            {{ subCategory.subCategoryName }}
        </a>
    </ng-template>
</mat-menu>
