<div class="side-menu-container">
    <div class="side-menu-container__left bg-gradient-primary-1">
        <div class="side-menu-container__leftTop">
            <img
                class="icon"
                src="../../../../assets/side-menu-icons/exit.svg"
                alt="" />
        </div>
        <div class="side-menu-container__leftBottom">
            <div *ngFor="let category of menuCategories">
                <button
                    class="category"
                    [matTooltip]="category.categoryName | titlecase"
                    matTooltipPosition="after"
                    mat-button
                    (click)="menuTrigger.openMenu()">
                    <img
                        class="icon"
                        [src]="category.categoryIcon"
                        [alt]="category.categoryName" />
                    <div
                        #menuTrigger="matMenuTrigger"
                        [matMenuTriggerFor]="appMenu"
                        [matMenuTriggerData]="{
                            subCategories: category.subCategories
                        }"></div>
                </button>
                <mat-menu #appMenu="matMenu">
                    <ng-template
                        matMenuContent
                        let-subCategories="subCategories">
                        <a
                            class="category-item"
                            mat-menu-item
                            *ngFor="let subCategory of subCategories"
                            [routerLink]="subCategory.href"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            {{ subCategory.subCategoryName }}
                        </a>
                    </ng-template>
                </mat-menu>
            </div>
        </div>
    </div>
    <div class="side-menu-container__right"></div>
</div>
