.side-menu-container {
  height: 100vh;
  display: flex;
}

.side-menu-container__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 110px;
  padding-top: 5em;
  padding-bottom: 2em;
  height: 100%;

  &Bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .icon {
    max-width: 90px;
  }
}

.d-reverse {
  flex-direction: column-reverse;
}

.side-menu-container__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.category {
  position: relative;
  height: 90px;
  div {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.category-item:hover {
  background-color: #ffe2ba;
}
