@use './src/styles/colors' as colors;
@use './src/styles/breakpoints' as br;

app-circular-button {
  padding: 1rem;
  display: block;
  @include br.media-md {
    display: none;
  }
}

.unit-form-container {
  padding-top: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: clamp(21px, 3.5vw, 80px) clamp(13px, 3.5vw, 160px);
  width: clamp(280px, 80vw, 1130px);
  margin-inline: auto;

  &_header {
    color: colors.$neutral-100;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid colors.$neutral-100;
  }

  &_form {
    display: flex;
    flex-direction: column;
    color: var(--neutral-900);
    border-radius: 10px;
    margin-top: 1.5rem;
    padding: clamp(21px, 6.5vw, 36px) clamp(12px, 3.5vw, 42px);
    align-items: center;
    width: clamp(280px, 85vw, 670px);

    .mat-mdc-text-field-wrapper {
      margin-bottom: 1.75rem;
    }
    .mat-mdc-form-field input,
    .mat-mdc-form-field textarea {
      padding-top: 1rem;
    }
    label.mdc-floating-label.mat-mdc-floating-label {
      top: 1.5rem;
    }
    .textarea-form-field {
      min-height: clamp(140px, 40vw, 260px);
    }
    textarea {
      min-height: clamp(120px, 40vw - 30px, 230px);
    }
    .btn-rect {
      margin-top: 1rem;
    }
  }
}
