<app-circular-button icon="arrow_back" size="sm" routerLink="/units">
</app-circular-button>
<div class="unit-form-container">
    <h1 class="text-h1 unit-form-container_header">
        Utwórz koło zainteresowań
    </h1>
    <form
        [formGroup]="unitForm"
        (ngSubmit)="onSubmit()"
        class="unit-form-container_form bg-gradient-neutral-3">
        <mat-form-field appearance="outline" #inputMatFormField>
            <mat-label>Nazwa koła</mat-label>
            <input
                matInput
                type="text"
                formControlName="unitName"
                (blur)="onSetToStorage('unitName', unitForm.controls.unitName.value)" />
            <ng-container
                *ngIf="unitForm.controls.unitName.errors as unitNameErrors">
                <mat-error *ngIf="unitNameErrors['required']"
                    ><mat-icon>info</mat-icon> Pole nazwa koła jest wymagane </mat-error
                ><mat-error *ngIf="unitNameErrors['maxlength']"
                    ><mat-icon>info</mat-icon> Maksymalna dopuszczalna ilość
                    znaków to {{ unitNameErrors['maxlength']['requiredLength']
                    }}
                </mat-error></ng-container
            ><mat-hint
                class="accent-color"
                *ngIf="unitForm.controls.unitName.valid"
                ><mat-icon fontIcon="done_outline"></mat-icon>
            </mat-hint>
        </mat-form-field>
        <mat-form-field
            appearance="outline"
            class="textarea-form-field"
            #textMatFormField>
            <mat-label>Opis</mat-label>
            <textarea
                matInput
                formControlName="unitDescription"
                (blur)="
              onSetToStorage(
                'unitDescription',
                unitForm.controls.unitDescription.value
              )
            "></textarea>
            <div
                class="mat-errors-container"
                *ngIf="unitForm.controls.unitDescription.errors as unitDescriptionErrors">
                <mat-error
                    *ngIf="unitForm.controls.unitDescription.errors['required']"
                    ><mat-icon>info</mat-icon> Pole opis koła jest wymagane </mat-error
                ><mat-error
                    *ngIf="unitForm.controls.unitDescription.errors['maxlength']"
                    ><mat-icon>info</mat-icon> Maksymalna dopuszczalna ilość
                    znaków to {{
                    unitDescriptionErrors['maxlength']['requiredLength'] }}
                </mat-error>
            </div>
            <mat-hint
                class="accent-color"
                *ngIf="unitForm.controls.unitDescription.valid">
                <mat-icon fontIcon="done_outline"></mat-icon>
            </mat-hint>
        </mat-form-field>
        <button
            class="btn-rect btn-black"
            type="submit"
            [disabled]="unitForm.invalid">
            Utwórz
        </button>
    </form>
</div>
