<app-circular-button icon="arrow_back" size="sm" routerLink="/units">
</app-circular-button>
<div class="unit-form-container">
    <h1 class="text-h1 unit-form-container_header">
        Utwórz koło zainteresowań
    </h1>
    <form
        [formGroup]="unitForm"
        (ngSubmit)="onSubmit()"
        class="unit-form-container_form bg-gradient-neutral-3">
        <mat-form-field
            appearance="outline"
            #inputMatFormField
            class="input-form-field">
            <mat-label>Nazwa koła</mat-label>
            <input
                matInput
                type="text"
                formControlName="unitName"
                (blur)="onSetToStorage('unitName', nameCtrl.value)" />

            <mat-error class="text-body-small" *ngIf="nameCtrl.errors"
                ><span *ngIf="nameCtrl.hasError('required')"
                    ><mat-icon>info</mat-icon> Pole nazwa koła jest wymagane </span
                ><span
                    class="text-body-small"
                    *ngIf="nameCtrl.hasError('maxlength')"
                    ><mat-icon>info</mat-icon> Maksymalna liczba znaków to
                    {{ nameCtrl.errors!['maxlength']['requiredLength'] }} </span
                ><span *ngIf="nameCtrl.hasError('nameTaken')"
                    ><mat-icon>info</mat-icon> Koło o nazwie
                    <b>{{ nameCtrl.value }}</b> już istnieje
                </span></mat-error
            >
            <mat-hint class="accent-color" *ngIf="nameCtrl.valid"
                ><mat-icon fontIcon="done_outline"></mat-icon>
            </mat-hint>
        </mat-form-field>
        <mat-form-field
            appearance="outline"
            class="textarea-form-field"
            #textMatFormField>
            <mat-label>Opis</mat-label>
            <textarea
                matInput
                formControlName="unitDescription"
                (blur)="
                    onSetToStorage('unitDescription', descriptionCtrl.value)
                "
                rows="10"></textarea>

            <mat-error
                class="text-body-small"
                *ngIf="descriptionCtrl.hasError('required')"
                ><mat-icon>info</mat-icon> Pole opis koła jest wymagane </mat-error
            ><mat-error
                class="text-body-small"
                *ngIf="descriptionCtrl.hasError('maxlength')"
                ><mat-icon>info</mat-icon> Maksymalna liczba znaków to
                {{ descriptionCtrl.errors!['maxlength']['requiredLength'] }}
            </mat-error>

            <mat-hint class="accent-color" *ngIf="descriptionCtrl.valid">
                <mat-icon fontIcon="done_outline"></mat-icon>
            </mat-hint>
        </mat-form-field>
        <button class="btn-rect btn-black" type="submit">Utwórz</button>
    </form>
</div>
