@import "src/styles.scss";
button {
}

:host button {
  background: linear-gradient(
    283.96deg,
    #a86c2d 3.84%,
    rgba(254, 235, 87, 0.88) 49.33%,
    #bf7b30 96.92%
  );
}

:host(.btn-black) button {
  background: linear-gradient(
    180deg,
    rgba(62, 44, 43, 0.92) 0%,
    rgba(81, 55, 53, 0.92) 57.29%,
    rgba(53, 39, 38, 0.92) 99.48%
  );
}

:host(.btn-green) button {
  background: linear-gradient(283.96deg, #37514b 3.84%, #40a37e 49.33%, #338666 96.92%);
}

.btn-rect {
  min-width: 150px;
  border: none;
  border-radius: 13px;
  font-family: "Eczar", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.125rem;
  color: $neutral-900;
}

.btn-default:not([disabled]) {
  //   padding: 1.25rem 2rem;
  transition: 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}
.btn-default {
  background: linear-gradient(
    283.96deg,
    #a86c2d 3.84%,
    rgba(254, 235, 87, 0.88) 49.33%,
    #bf7b30 96.92%
  );
}

.btn-black {
  background: linear-gradient(
    180deg,
    rgba(62, 44, 43, 0.92) 0%,
    rgba(81, 55, 53, 0.92) 57.29%,
    rgba(53, 39, 38, 0.92) 99.48%
  );
}

.btn-rect:disabled {
  opacity: 0.6;
}

.btn-border {
  border: solid 1px;
  display: inline-block;
}

.border-1 {
  border-color: #644b3a;
  border-radius: 13px;
}

.border-2 {
  border-color: #ca9d7c;
  border-radius: 12px;
}
.border-3 {
  border-color: #82573a;
  border-radius: 11px;
}
.border-4 {
  border-color: #311c10;
  border-radius: 10px;
}
.border-5 {
  border-color: #36260b;
  border-radius: 9px;
}
.border-6 {
  border-color: #b99b53;
  border-radius: 8px;
}
.border-7 {
  border-color: #d1ac4c;
  border-radius: 7px;
}
.border-8 {
  border-color: #c39c3c;
  border-radius: 6px;
}
.border-9 {
  border-color: #d6b84a;
  border-radius: 5px;
  padding: 1.25rem 2rem;
}
