<button [ngClass]="sizeClass" (click)="clickButton.emit()">
    <span *ngIf="!icon else textButtonBlock" [ngClass]="textSizeClass"
        >{{text}}</span
    >
    <ng-template #textButtonBlock>
        <ng-template *ngIf="!routerLink else withRouterLink"
            ><mat-icon class="icon"> {{icon}} </mat-icon></ng-template
        >

        <ng-template #withRouterLink
            ><mat-icon class="icon">
                <a [routerLink]="routerLink">{{icon}}</a>
            </mat-icon></ng-template
        >
    </ng-template>
</button>
