@use './src/styles/colors' as colors;

@mixin margin-purple($height) {
  margin: $height 22px 0 0;
}
@mixin margin-blue($height) {
  margin: $height 5px 0 0;
}
@mixin margin-white($height) {
  margin: $height 5px 0 0;
}
@mixin margin-brown($height) {
  margin: $height 0 0 2px;
}

.card {
  $content-width: 53%;
  height: 465px;
  aspect-ratio: 21 / 25;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;

  &__power-icon {
    transform: translate(-110px, 5px);
    position: absolute;
  }

  &__main-photo {
    width: 100%;
    @include margin-purple(35px);
  }

  &__main-photo > img {
    display: block;
    background-position: center;
    margin: 0 auto;
    width: $content-width;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
  }

  &__title {
    text-shadow: 0px 5.97315px 5.97315px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 0.5rem;
  }

  &__title,
  &__start-time,
  &__description {
    background-color: colors.$primary-400;
    border: 1px solid colors.$accent-gold-400;
    border-radius: 5px;
  }

  &__title,
  &__start-time {
    color: colors.$accent-gold-200;
    letter-spacing: 1px;
    text-align: center;
  }

  &__description {
    margin-top: 5px;
    color: colors.$neutral-300;
    max-height: 90px;
    display: flex;
    align-items: center;
    overflow: hidden;

    &__inner {
      min-height: 70px;
      margin: 0.6em 0.5rem;
      max-height: 80px;
      & > p {
        text-align: center;
        line-height: 1.3;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  &__start-time {
    margin-top: 8px;
  }

  &__info {
    width: $content-width;
    max-height: 165px;
    overflow: hidden;
    @include margin-purple(5px);
  }

  &__line {
    height: 1px;
    width: $content-width;
    background-color: colors.$accent-gold-400;
    @include margin-purple(10px);
  }

  &__button {
    @include margin-purple(15px);
  }
}

.card--white {
  .card__power-icon {
    transform: translate(-110px, -10px);
  }
  .card__main-photo {
    @include margin-white(25px);
  }
  .card__info {
    @include margin-white(10px);
  }
  .card__line {
    @include margin-white(10px);
  }
  .card__button {
    @include margin-white(15px);
  }
}
.card--brown {
  .card__power-icon {
    transform: translate(-110px, -10px);
  }
  .card__main-photo {
    @include margin-brown(30px);
  }
  .card__info {
    @include margin-brown(10px);
  }
  .card__line {
    @include margin-brown(10px);
  }
  .card__button {
    @include margin-brown(15px);
  }
}
.card--blue {
  .card__power-icon {
    transform: translate(-120px, 0px);
  }
  .card__main-photo {
    @include margin-blue(40px);
  }
  .card__main-photo > img {
    height: 95%;
  }
  .card__info {
    @include margin-blue(1px);
  }
  .card__line {
    margin: 0;
    opacity: 0;
  }
  .card__button {
    @include margin-blue(15px);
  }
}

.card.card--sm {
  height: 389px;
  width: 310px;

  .card__power-icon {
    transform: translate(-90px, 0px);
  }

  .card__main-photo {
    @include margin-purple(22px);
  }
  .card__info {
    @include margin-purple(0px);
  }

  .card__info__description {
    margin: 7px 0;
  }
  .card__main-photo > img {
    height: 95%;
  }
  .btn-rect--sm {
    font-size: 0.87rem;
  }

  .card__line {
    @include margin-purple(-2px);
  }
  .card__button {
    @include margin-purple(15px);
  }
}
.card.card--brown.card--sm {
  .card__power-icon {
    transform: translate(-90px, -10px);
  }
  .card__main-photo {
    @include margin-brown(20px);
  }
  .card__info {
    @include margin-brown(0px);
  }

  .card__line {
    @include margin-brown(5px);
  }
  .card__button {
    @include margin-brown(20px);
  }
}

.card.card--white.card--sm {
  .card__power-icon {
    transform: translate(-95px, -10px);
  }
  .card__info {
    @include margin-white(5px);
  }
  .card__main-photo {
    @include margin-white(15px);
  }
  .card__line {
    @include margin-white(0px);
  }
  .card__button {
    @include margin-white(15px);
  }
}

.card.card--blue.card--sm {
  .card__power-icon {
    transform: translate(-95px, -5px);
  }
  .card__main-photo {
    @include margin-blue(30px);
  }
  .card__info {
    @include margin-blue(0px);
  }
  .card__button {
    @include margin-blue(6px);
  }
}
