<div
    *ngIf="card"
    [style.background-image]="'url(' + theme.url + ')'"
    [ngClass]="'card--' + theme.color"
    class="card card--lg">
    <div class="card__main-photo">
        <img src="{{ card.mainPhoto }}" alt="beer" />
    </div>
    <div class="card__info">
        <div class="card__info__title text-h6">
            {{ card.name | uppercase }}
        </div>
        <div class="card__info__description text-body">
            <span>{{ card.description }} </span>
        </div>
        <div class="card__info__start-time text-h6">
            {{ card.startTime | date : 'dd:MM:YYYY hh:mm' }}
        </div>
    </div>
    <div class="card__line"></div>
    <button class="btn-rect btn-default btn-rect--sm card__button">
        Więcej
    </button>
</div>
