@use './src/styles/colors' as st;

@mixin margin-purple($height) {
  margin: $height 22px 0 0;
}
@mixin margin-blue($height) {
  margin: $height 5px 0 0;
}
@mixin margin-white($height) {
  margin: $height 5px 0 0;
}
@mixin margin-brown($height) {
  margin: $height 0 0 2px;
}

.card {
  $content-width: 53%;

  // 9:7 ratio
  height: 465px;
  width: 375px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;

  &__power-icon {
    transform: translate(-110px, 5px);
    position: absolute;
  }
  &__main-photo {
    width: 100%;
    @include margin-purple(35px);
    border: none;
  }
  &__main-photo > img {
    display: block;
    background-position: center;
    margin: 0 auto;
    width: $content-width;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
  }
  &__info {
    z-index: 3;
    text-align: center;
    width: $content-width;
    @include margin-purple(10px);
    &__title,
    &__start-time,
    &__description {
      background-color: st.$primary-400;
      border: 1px solid st.$accent-gold-400;
      border-radius: 5px;
    }
    &__title,
    &__start-time {
      color: st.$accent-gold-200;
      letter-spacing: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__title {
      text-shadow: 0px 5.97315px 5.97315px rgba(0, 0, 0, 0.25);
    }
    &__description {
      margin-top: 8px;
      margin-bottom: 8px;
      color: st.$neutral-300;
      height: 45%;
      max-height: 45%;
      overflow: hidden;
      padding: 0.6rem 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__description > span {
      text-align: center;
      display: inline-block;
      line-height: 1.3 !important;
    }
  }
  &__line {
    height: 1px;
    width: $content-width;
    background-color: st.$accent-gold-400;
    @include margin-purple(0px);
  }
  &__button {
    @include margin-purple(18px);
  }
}

.card--white {
  .card__power-icon {
    transform: translate(-110px, -10px);
  }
  .card__main-photo {
    @include margin-white(25px);
  }
  .card__info {
    @include margin-white(10px);
  }
  .card__line {
    @include margin-white(10px);
  }
  .card__button {
    @include margin-white(20px);
  }
}
.card--brown {
  .card__power-icon {
    transform: translate(-110px, -10px);
  }
  .card__main-photo {
    @include margin-brown(30px);
  }
  .card__info {
    @include margin-brown(10px);
  }
  .card__line {
    @include margin-brown(7px);
  }
  .card__button {
    @include margin-brown(20px);
  }
}
.card--blue {
  .card__power-icon {
    transform: translate(-120px, 0px);
  }
  .card__main-photo {
    @include margin-blue(40px);
  }
  .card__main-photo > img {
    height: 95%;
  }
  .card__info {
    @include margin-blue(1px);
  }
  .card__line {
    margin: 0;
    opacity: 0;
  }
  .card__button {
    @include margin-blue(10px);
  }
}

.card.card--sm {
  height: 389px;
  width: 310px;

  .card__power-icon {
    transform: translate(-90px, 0px);
  }

  .card__main-photo {
    @include margin-purple(22px);
  }
  .card__info {
    @include margin-purple(0px);
  }

  .card__info__description {
    @extend st, .text-body-small !optional;
    margin: 7px 0;
  }
  .card__main-photo > img {
    height: 95%;
  }
  .btn-rect--sm {
    font-size: 0.87rem;
  }

  .card__line {
    @include margin-purple(-2px);
  }
  .card__button {
    @include margin-purple(15px);
  }
}
.card.card--brown.card--sm {
  .card__power-icon {
    transform: translate(-90px, -10px);
  }
  .card__main-photo {
    @include margin-brown(20px);
  }
  .card__info {
    @include margin-brown(0px);
  }

  .card__line {
    @include margin-brown(5px);
  }
  .card__button {
    @include margin-brown(20px);
  }
}

.card.card--white.card--sm {
  .card__power-icon {
    transform: translate(-95px, -10px);
  }
  .card__info {
    @include margin-white(5px);
  }
  .card__main-photo {
    @include margin-white(15px);
  }
  .card__line {
    @include margin-white(0px);
  }
  .card__button {
    @include margin-white(15px);
  }
}

.card.card--blue.card--sm {
  .card__power-icon {
    transform: translate(-95px, -5px);
  }
  .card__main-photo {
    @include margin-blue(25px);
  }
  .card__info {
    @include margin-blue(2px);
  }
  .card__button {
    @include margin-blue(6px);
  }
}
