<div
    [style.background-image]="'url(' + theme + ')'"
    [ngClass]="'card--' + color"
    class="card card--lg">
    <div class="card__main-photo">
        <img src="assets/mock/beers.png" alt="beer" />
    </div>
    <div class="card__info">
        <div class="card__info__title text-h6">EVENT TITLE</div>
        <div class="card__info__description text-body">
            <span
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            </span>
        </div>
        <div class="card__info__start-time text-h6">12.01.2022 14:30</div>
    </div>
    <div class="card__line"></div>
    <button class="btn-rect btn-default btn-rect--sm card__button">
        Więcej
    </button>
</div>
