$gold-palette: (
  100: #eddebf,
  200: #eddebf,
  300: #efd6b3,
  500: #e9ce7f,
  600: #d69840,
  700: #d69840,
  800: #c17605,
  900: #c17605,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
  ),
);

$primary-400: #4d4442;
$primary-500: #5e4139;
$primary-700: #2c2120;
$primary-800: #211918;
$primary-900: #211e1d;

$neutral-100: #ffffff;
$neutral-300: #f7f3f2;
$neutral-500: #adadad;
$neutral-600: #a7a4a5;
$neutral-800: #323232;
$neutral-900: #000000;

$accent-gold-200: #eddebf;
$accent-gold-300: #efd6b3;
$accent-gold-400: #dfce98;
$accent-gold-500: #e9ce7f;
$accent-gold-600: #ead63d;
$accent-gold-700: #d69840;
$accent-gold-800: #c17605;

$accent-error: #ff4040;
$accent-success: #88b42d;

.bg-gradient-primary-1 {
  background: linear-gradient(270deg, #323232 0%, #2c2120 93.23%);
}

.bg-gradient-primary-2 {
  background: linear-gradient(
    180deg,
    rgba(62, 44, 43, 0.92) 0%,
    rgba(81, 55, 53, 0.92) 57.29%,
    rgba(53, 39, 38, 0.92) 99.48%
  );
}

.bg-gradient-neutral-1 {
  background: linear-gradient(90deg, #ffffff 20.82%, #e4e4e4 78.72%);
}
.bg-gradient-neutral-2 {
  background: linear-gradient(
    102.22deg,
    #c0c0c0 2.92%,
    #eeeeee 17.75%,
    #ffffff 53.84%,
    #eeeeee 86.46%,
    #c0c0c0 97.83%
  );
}

.bg-gradient-neutral-3 {
  background: linear-gradient(
    125.67deg,
    rgba(234, 235, 241, 0.8) 0.31%,
    rgba(249, 251, 251, 0.8) 48.39%,
    rgba(249, 251, 251, 0.8) 98.02%
  );
}

.bg-gradient-gold-1 {
  background: linear-gradient(
    283.96deg,
    #a86c2d 3.84%,
    rgba(254, 235, 87, 0.88) 49.33%,
    #bf7b30 96.92%
  );
}

.bg-gradient-green-1 {
  background: linear-gradient(283.96deg, #37514b 3.84%, #40a37e 49.33%, #338666 96.92%);
}
.bg-gradient-green-2 {
  background: linear-gradient(90.03deg, #2e9461 9.8%, #18edd0 46.9%, #1cae6e 88.08%);
}
.accent-color {
  color: $accent-success;
}
