@use 'colors' as colors;

//bg-color for inputs
.mat-mdc-text-field-wrapper.mdc-text-field {
  background-color: colors.$neutral-100;
}

//fix outlined appearance for labels
.input-form-field .mat-mdc-text-field-wrapper.mdc-text-field {
  height: 56px;
}

textarea {
  resize: vertical;
  max-height: 100vh;
  min-height: 200px;
}

.mat-mdc-form-field {
  min-width: 200px;
  width: 100%;
}

.mat-mdc-form-field-error.mat-mdc-form-field-error,
.mat-mdc-form-field-hint.mat-mdc-form-field-hint {
  display: inline-flex;
  align-items: center;
}

.mat-mdc-form-field-error > .mat-icon,
.mat-mdc-form-field-hint > .mat-icon {
  margin-right: 0.25rem;
}

//label for textarea in unit-form
label#mat-mdc-form-field-label-2 {
  top: 1.5rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px colors.$neutral-100 inset !important;
  -webkit-box-shadow: 0 0 0 30px colors.$neutral-100 inset !important;
}

input[data-autocompleted] {
  background-color: transparent !important;
}
