@use '@angular/material' as mat;
@use 'colors' as colors;
@use 'breakpoints' as breakpoints;

@include mat.core();

$my-typography: mat.define-typography-config(
  $font-family: 'Mukta Vaani',
);

$gold-palette: (
  100: #eddebf,
  200: #eddebf,
  300: #efd6b3,
  500: #e9ce7f,
  600: #d69840,
  700: #d69840,
  800: #c17605,
  900: #c17605,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
  ),
);

$app-name-primary: mat.define-palette($gold-palette, 600, 300, 800, 600);
$app-name-accent: mat.define-palette(mat.$green-palette);
$app-name-warn: mat.define-palette(mat.$red-palette);

$app-name-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-name-primary,
      accent: $app-name-accent,
      warn: $app-name-warn,
    ),
    typography: $my-typography,
  )
);

@include mat.input-color($app-name-theme);
@include mat.form-field-color($app-name-theme);
@include mat.select-color($app-name-theme);
@include mat.chips-color($app-name-theme);

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  color: colors.$accent-gold-300 !important;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__text-label {
  color: colors.$accent-gold-800 !important;
}

///// SIDE MENU /////
.side-menu-category.active {
  .mat-mdc-focus-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: colors.$neutral-100;
    border: 2px solid colors.$accent-gold-200;
    transition: 0.5s;
  }
}

.side-menu-category.mat-mdc-button:not(:disabled) {
  width: 90px;
}

.mobile-side-menu {
  .mat-mdc-menu-content {
    @include breakpoints.media-md {
      display: none;
    }
  }
}
///// DIALOG /////

.mat-mdc-dialog-container .mdc-dialog__surface.mdc-dialog__surface {
  background-color: colors.$neutral-300;
  border-radius: 10px;
  border-collapse: separate;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.6);
}
/// CHIPS AND AUTOCOMPLETE ///
.mdc-menu-surface.mat-mdc-autocomplete-panel.mdc-menu-surface--open {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 8px;
  padding-inline: 16px;
}

.mat-mdc-option {
  background-color: colors.$accent-gold-300;
  border-radius: 5px;
  .mdc-list-item__primary-text {
    color: colors.$accent-gold-800;
  }
}

.mat-mdc-standard-chip.mat-mdc-standard-chip {
  border-radius: 5px;
}
.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled).mat-mdc-standard-chip:not(
    .mdc-evolution-chip--disabled,
    .mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled)
  ) {
  background-color: colors.$accent-gold-300;
}

//change color for chip label and icon
.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label,
.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__icon--trailing,
.mdc-menu-surface {
  color: colors.$accent-gold-800 !important;
}

.mdc-evolution-chip__cell .mdc-evolution-chip__text-label,
.mat-mdc-option.mat-mdc-option {
  display: inline;
  min-height: auto;
  word-break: break-all;
  white-space: normal;
  overflow: visible;
  line-height: 1;
}

.mat-mdc-standard-chip.mat-mdc-standard-chip {
  min-height: 32px;
  height: auto;
}

.mat-mdc-form-field .mat-mdc-form-field-infix {
  min-width: 200px;
  width: 100%;
}

.mat-mdc-option.mdc-list-item {
  padding: 16px 12px;
}

.mdc-evolution-chip-set {
  margin-bottom: 0.5rem;
}
.mat-mdc-focus-indicator.mat-mdc-option-active {
  background-color: colors.$accent-gold-700;
  color: colors.$accent-gold-200;
}

////// SNACKBAR
.mdc-snackbar.mat-mdc-snack-bar-container {
  margin-top: 30%;
  margin-left: 115px;
}
.red-snackbar {
  background: colors.$accent-error;
  color: colors.$neutral-300;
}
.red-snackbar button {
  background-color: colors.$accent-error;
  color: colors.$neutral-300 !important;
  border: none;
}
.green-snackbar {
  background: colors.$accent-success;
  color: colors.$neutral-300;
}
.green-snackbar button {
  background-color: colors.$accent-success;
  color: colors.$neutral-300 !important;
  border: none;
}
