@use '@angular/material' as mat;
@use 'colors' as colors;
@use 'breakpoints' as br;

@include mat.core();

$my-typography: mat.define-typography-config(
  $font-family: 'Mukta Vaani',
);

$gold-palette: (
  100: #eddebf,
  200: #eddebf,
  300: #efd6b3,
  500: #e9ce7f,
  600: #d69840,
  700: #d69840,
  800: #c17605,
  900: #c17605,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
  ),
);

$app-name-primary: mat.define-palette($gold-palette, 600, 300, 800, 600);
$app-name-accent: mat.define-palette(mat.$green-palette);
$app-name-warn: mat.define-palette(mat.$red-palette);

$app-name-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-name-primary,
      accent: $app-name-accent,
      warn: $app-name-warn,
    ),
    typography: $my-typography,
  )
);

@include mat.input-color($app-name-theme);
@include mat.form-field-color($app-name-theme);
@include mat.select-color($app-name-theme);
@include mat.chips-color($app-name-theme);

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  color: colors.$accent-gold-300 !important;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__text-label {
  color: colors.$accent-gold-800 !important;
}

///// SIDE MENU /////
.side-menu-category.active {
  .mat-mdc-focus-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: colors.$neutral-100;
    border: 2px solid colors.$accent-gold-200;
    transition: 0.5s;
  }
}

.side-menu-category.mat-mdc-button:not(:disabled) {
  width: 90px;
}

.mobile-side-menu {
  .mat-mdc-menu-content {
    @include br.media-md {
      display: none;
    }
  }
  &.mat-mdc-menu-panel.mat-mdc-menu-panel {
    left: 7px;
    top: 66px;
  }
}
///// DIALOG /////

.mat-mdc-dialog-container .mdc-dialog__surface.mdc-dialog__surface {
  background-color: colors.$neutral-300;
  border-radius: 10px;
  border-collapse: separate;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.6);
}

///// STEPPER

.event-form-container {
  .mat-stepper-horizontal {
    .mat-horizontal-content-container {
      background: colors.$bg-gradient-neutral-3;
      border-radius: 10px;
      margin-top: 2rem;
      padding: 1rem;
    }

    .mat-mdc-option {
      background-color: colors.$accent-gold-300;
      border-radius: 5px;
    }
    .mdc-list-item__primary-text {
      color: colors.$accent-gold-800;
    }
    .mat-horizontal-stepper-header {
      flex-direction: column;
      padding-top: 0.75rem;

      .mat-mdc-standard-chip.mat-mdc-standard-chip {
        border-radius: 5px;
      }
      .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled).mat-mdc-standard-chip:not(
          .mdc-evolution-chip--disabled,
          .mat-mdc-snack-bar-container
            .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled)
        ) {
        background-color: colors.$accent-gold-300;
      }

      .mat-horizontal-stepper-header .mat-step-icon {
        margin-right: 0;
      }
      .mat-horizontal-stepper-header-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      }
      .mat-step-header .mat-step-label,
      .mat-step-header .mat-step-optional {
        color: colors.$primary-900;
        text-align: center;
        font-size: 15px;
      }

      .mat-step-header .mat-step-label.mat-step-label-active {
        color: colors.$primary-900;
      }
      .mat-step-icon.mat-step-icon-state-number,
      .mat-step-icon-state-edit {
        background: colors.$primary-800;
        color: colors.$accent-gold-600;
        border: 1.45px solid colors.$primary-500;
        border-radius: 36.25px;
        @include br.media-md {
          padding: 1.5rem;
        }
      }

      .mat-step-icon.mat-step-icon-state-number.mat-step-icon-selected {
        background: colors.$bg-gradient-gold-1;
        color: colors.$neutral-900;
      }

      .mat-horizontal-stepper-header-container .mat-stepper-horizontal-line {
        color: colors.$accent-gold-600;
        margin-bottom: 1rem;
        display: none;
      }
    }
  }
}

////// SNACKBAR
.mdc-snackbar.mat-mdc-snack-bar-container {
  margin-top: 30%;
  margin-left: 115px;
}
.red-snackbar {
  background: colors.$accent-error;
  color: colors.$neutral-300;
}
.red-snackbar button {
  background-color: colors.$accent-error-dark;
  color: colors.$neutral-300 !important;
  border: none;
}
.green-snackbar {
  background: colors.$accent-success;
  color: colors.$neutral-300;
}
.green-snackbar button {
  background-color: colors.$accent-success-dark;
  color: colors.$neutral-300 !important;
  border: none;
}
