@use 'material' as *;
@use 'buttons' as *;
@use 'typography' as *;
@use 'form-fields' as *;
@use 'colors' as colors;
@use 'breakpoints' as br;

:root {
  font-family: 'Mukta Vaani', 'sans-serif';
  font-size: 1rem;
  color: colors.$neutral-900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

app-root {
  display: block;
  background-image: url('../assets/bg-images/main-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  width: min(100%, 1920px);
  margin-inline: auto;
}

.image-layout--center {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
