.inbox-container {
  width: fit-content;
  margin-inline: auto;
  padding: 1rem 0;
  border-radius: 10px;

  & > div {
    padding: 1rem;
  }
  & > div:not(:last-child) {
    border-bottom: solid 2px black;
  }
  &__header {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    .mat-icon {
      margin-bottom: 5px;
    }
  }
}
