.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: clamp(21px, 3.5vw, 120px) clamp(25px, 10.5vw, 160px);
  min-width: clamp(250px, 50vw, 600px);

  .text-body-big {
    font-family: Eczar;
  }

  &__logo {
    margin: clamp(-60px, -4.5vw, -20px);
    width: clamp(200px, 30vw, 450px);
  }

  input {
    height: 3rem;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
  input[data-autocompleted] {
    background-color: transparent !important;
  }

  mat-icon {
    color: #b99b53;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: clamp(248px, 30vw, 300px);
  gap: clamp(0px, 30vw, 10px);

  &__rememberMe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
    margin-bottom: 20px;
  }
  button {
    align-self: center;
  }
}
