.frv-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 50px;
  align-items: center;
  background: linear-gradient(
    125.67deg,
    rgba(234, 235, 241, 0.8) 0.31%,
    rgba(249, 251, 251, 0.8) 48.39%,
    rgba(249, 251, 251, 0.8) 98.02%
  );
  border-radius: 10px;
  padding: clamp(10px, 3.5vw, 80px) clamp(13px, 3.5vw, 160px);
  max-width: min(88vw, 1130px);
  margin-inline: auto;
  overflow: hidden;
}
