<section class="card-list bg-gradient-neutral-3">
    <ng-container *ngIf="eventList$ | async as eventList">
        <app-event-card
            *ngFor="let event of eventList"
            class="card"
            size="sm"
            [card]="event">
        </app-event-card>
    </ng-container>
    <div
        infinite-scroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="300"
        (scrolled)="onScroll($event)"></div>
    <app-spinner-dots [color]="'black'"></app-spinner-dots>
</section>
