@import './src/styles';

.spinner {
  margin: 0 0.3rem;
  border-radius: 50%;
  // background-color: white;
  display: inline-block;
  animation: bounce 1.3s infinite ease-in-out both;
  position: relative;

  &::before,
  &::after {
    content: '';
    width: inherit;
    height: inherit;
    border-radius: 50%;
    background-color: inherit;
    display: inline-block;
    animation: bounce 1.3s infinite ease-in-out both;
    position: absolute;
  }

  &::after {
    left: 56px;
    animation-delay: 0.35s;
  }

  &::before {
    left: 28px;
    animation-delay: 0.19s;
  }
}

@keyframes bounce {
  0%,
  80%,
  100% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
}
