<div [ngClass]="[cardSize]" *ngIf="card" class="card image-layout--center">
    <app-unit-power-icon
        class="card__power-icon"
        [size]="size"
        [memberNumber]="card.memberNumber">
    </app-unit-power-icon>
    <div class="card__main-photo">
        <img src="{{ card.mainPhoto }}" />
    </div>
    <div class="card__info">
        <div class="card__title" [class.text-body-big]="size === 'md'">
            {{ card.name | uppercase }}
        </div>
        <div class="card__description" [class.text-body-small]="size === 'sm'">
            <p>{{ card.description }}</p>
        </div>
    </div>
    <div class="card__line"></div>
    <button
        class="btn-rect btn-green btn-rect--sm card__button"
        type="button"
        (click)="click()">
        Więcej
    </button>
</div>
