@use './src/styles/colors' as colors;

@mixin margin($height) {
  margin: $height 0 0 30px;
}

.card {
  $content-width: 53%;
  background-image: url('../../../../assets/cards/card-unit.webp');
  height: 465px;
  max-height: 465px;
  overflow: hidden;

  aspect-ratio: 21 / 25;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__power-icon {
    transform: translate(-110px, -10px);
    position: absolute;
  }

  &__main-photo {
    width: 100%;
    @include margin(40px);
  }

  &__main-photo > img {
    display: block;
    background-position: center;
    margin: 0 auto;
    width: $content-width;
    box-shadow: 0px 0px 23.5363px 3.29508px #08faf1;
    border-radius: 5px;
  }

  &__title,
  &__description {
    background-color: colors.$primary-400;
    border: 1px solid colors.$accent-gold-400;
    border-radius: 5px;
  }

  &__title {
    max-height: 1.5em;
    text-shadow: 0px 5.97315px 5.97315px rgba(0, 0, 0, 0.25);
    color: colors.$accent-gold-200;
    letter-spacing: 1px;
    padding: 0 0.5rem;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__description {
    margin-top: 8px;
    color: colors.$neutral-300;
    max-height: 111px;
    display: flex;
    align-items: center;
    border-collapse: separate;

    &__inner {
      min-height: 80px;
      margin: 0.6em 0.5rem;
      max-height: 101px;
      overflow: hidden;
      & > p {
        text-align: center;
        line-height: 1.3;
      }
    }
  }

  &__info {
    width: $content-width;
    max-height: 150px;
    @include margin(15px);
    border-collapse: separate;
  }

  &__line {
    height: 1px;
    width: $content-width;
    background-color: colors.$accent-gold-400;
    @include margin(10px);
    border-collapse: separate;
  }

  &__button {
    @include margin(20px);
  }
}

.card.card--sm {
  height: 389px;
  width: 310px;

  .card__power-icon {
    transform: translate(-90px, -10px);
  }

  .card__main-photo {
    @include margin(30px);
  }
  .card__info {
    max-height: 130px;
    @include margin(5px);
  }

  .card__description {
    max-height: 100px;
    margin: 7px 0;
  }

  .card__description__inner {
    min-height: 70px;

    max-height: 90px;
  }
  .card__main-photo > img {
    height: 95%;
  }
  .btn-rect--sm {
    font-size: 0.87rem;
  }
  .card__line {
    @include margin(10px);
  }

  .card__button {
    @include margin(18px);
  }
}
.center-horizontally {
  display: flex;
  align-items: center;
}
