h1 {
  text-align: center;
  margin: 20px auto;
  border-bottom: 2px solid black;
  width: 80%;
}

.items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin-inline: auto;
}

.table {
  border-radius: 10px;
  margin: 30px 10px;
}
