.container {
  display: grid;
  grid-template-columns: 120px calc(100vw - 120px);
  // grid-template-rows: 110px 1fr;

  .side-menu {
    grid-column: 1/2;
  }
  .content {
    grid-column: 2/3;
  }
}
