@use './src/styles/colors';
@use './src/styles/typography';
@use './src/styles/breakpoints' as bp;

h1 {
  text-align: center;
  margin: 20px auto;
}

.line {
  width: 80%;
  height: 1px;
  background-color: black;
  margin: 0 auto;
}

.statistics-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.spinner {
  margin: 30px auto;
}

.table {
  @extend .bg-gradient-neutral-3;
  width: 100%;
  border-radius: 10px;
  margin: 30px 10px;
}

.mat-column-quantity {
  text-align: right !important;
  font-weight: bold;
}
.mat-column-name {
  word-break: break-all;
}

@include bp.media-md {
  .line {
    margin: 0;
  }
  .mat-column-no {
    width: 25px;
  }
  .table {
    width: 55%;
  }
}
