:host div {
  --base-size: 75px;
  --color11: #8e5f31;
  --color12: #957b59;
  --color13: #bea990;
  --color14: #d2c1a9;
  --color15: #a79b8f;
  --color16: #98928e;
  --color17: #845d5d;
  --color18: #d1ccc0;
  --color21: #2c4645;
  --color22: #656161;
  --color23: #98928e;
  --color24: #a79b8f;
  --color25: #d2c1a9;
  --color26: #bea990;
  --color27: #957b59;
  --color28: #8e5f31;
  --color31: #1a5e6c;
  --color32: #144555;
  --color33: #154a59;
  --color34: #1e6b79;
  --color35: #32b5bb;
  --color36: #195967;
  --color37: #227a87;
  --color38: #54b9b2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-icon {
    overflow: visible;
  }

  .power-icon {
    width: 90%;
    height: 90%;
    font-family: 'Eczar', 'sans-serif';
    font-weight: 700;
    display: flex;
    flex-direction: column;

    &__member-number {
      position: relative;
      top: -15%;
      left: 5%;
    }

    &__separetor {
      position: relative;
    }

    &__member-limit {
      position: relative;
      top: 15%;
    }
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
  }
  .iconInfinity {
    overflow: visible;
  }
}

.font-text--xs {
  font-size: 0.8rem;
}

.font-text--sm {
  font-size: 1rem;
}

.font-text--md {
  font-size: 1.4rem;
}

.font-text--lg {
  font-size: 1.8rem;
}

.icon-infinity--xs {
  position: relative;
  top: 30%;
  font-size: 0.8rem;
}

.icon-infinity--sm {
  position: relative;
  top: 20%;
  font-size: 1.2rem;
}

.icon-infinity--md {
  position: relative;
  top: 10%;
  font-size: 1.6rem;
}

.icon-infinity--lg {
  position: relative;
  font-size: 2rem;
}

.size--sm {
  width: calc(var(--base-size) * 0.75);
  height: calc(var(--base-size) * 0.75);
  .icon {
    font-size: 1.8rem !important;
  }
}

.size--md {
  width: calc(var(--base-size));
  height: calc(var(--base-size));
  .icon {
    font-size: 2.4rem !important;
  }
}

.size--lg {
  width: calc(var(--base-size) * 1.25);
  height: calc(var(--base-size) * 1.25);
  .icon {
    font-size: 3rem !important;
  }
}

.theme--primary {
  box-shadow: 0 0 0 1px var(--color11), 0 0 0 2px var(--color12), 0 0 0 3px var(--color13),
    0 0 0 4px var(--color14), 0 0 0 5px var(--color15), 0 0 0 6px var(--color16),
    0 0 0 7px var(--color17), 0 0 0 8px var(--color18);
  background: linear-gradient(127.13deg, #e8dbc9 14.82%, #f8f0e9 64.64%, #b08095 85.63%);
}

.theme--secondary {
  box-shadow: 0 0 0 1px var(--color21), 0 0 0 2px var(--color22), 0 0 0 3px var(--color23),
    0 0 0 4px var(--color24), 0 0 0 5px var(--color25), 0 0 0 6px var(--color26),
    0 0 0 7px var(--color27), 0 0 0 8px var(--color28);
  background: linear-gradient(127.13deg, #e8dbc9 14.82%, #f8f0e9 64.64%, #3d6d6c 85.63%);
}

.theme--tertiary {
  box-shadow: 0 0 0 1px var(--color31), 0 0 0 2px var(--color32), 0 0 0 3px var(--color33),
    0 0 0 4px var(--color34), 0 0 0 5px var(--color35), 0 0 0 6px var(--color36),
    0 0 0 7px var(--color37), 0 0 0 8px var(--color38);
  background: linear-gradient(140.91deg, #092133 13.74%, #239195 50.82%, #091f31 87.13%);
  color: #feffff;
}
