@use './src/styles/colors' as st;

.container {
  // display: flex;
  // align-items: center;
  // flex-direction: column;
  // width: max-content;
}
.filter-btn {
  border: none;
  padding: 35.2px;
  cursor: pointer;
  border-radius: 6.25rem;
  background-image: url('/assets/icons/filter-inactive.svg');
  background-position: center;
  background-size: cover;
  margin-bottom: 8px;
  position: relative;
}
.filter-btn--active {
  background-image: url('/assets/icons/filter-active.svg');
}
.dropdown {
  background-color: st.$primary-900;
  display: flex;
  padding: 16px clamp(8px, 3vw + 6.4px, 40px) clamp(8px, 3vh + 6.4px, 48px)
    clamp(8px, 3vw + 8px, 40px);
  border-radius: 0.9375rem;
  width: max-content;
  column-gap: 32px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 2;
  &__section {
    border: none;
    display: flex;
    flex-direction: column;
    border: none;
    &:last-child {
      p {
        width: 8.125rem;
      }
    }
    p {
      color: st.$neutral-100;
      padding: 8px 0;
      border-bottom: 0.0625rem solid st.$neutral-500;
      min-width: max-content;
    }
    button:nth-child(2) {
      margin-top: 8px;
    }
    &__holder {
      all: unset;
      padding: 3.2px 0;
      text-align: left;
      color: st.$neutral-600;

      &:focus {
        label {
          color: st.$neutral-100;
          text-decoration: underline;
        }
      }
      label {
        width: 80%;
        display: inline-block;
        cursor: pointer;
      }

      &:has(.dropdown__filtr-option:checked) {
        color: st.$neutral-100;
        display: inline-block;
      }
      &:has(.dropdown__filtr-option:checked)::after {
        content: '\0078';
        color: st.$neutral-100;
        cursor: pointer;
      }

      &:has(.dropdown__sort-option:checked) {
        color: st.$neutral-100;
        display: inline-block;
      }
    }
  }
  &__filtr-option {
    border: none;
    display: none;
  }
  &__sort-option {
    border: none;
    display: none;
  }
  &__filtr-option:checked {
    border: none;
  }
}

.dropdown--unit {
  justify-content: flex-start;
  padding: 16px 240px 80px 32px;
  padding: 16px clamp(80px, 15vw + 32px, 240px) clamp(32px, 4.1vh + 20px, 80px)
    clamp(16px, 1vw + 12.8px, 32px);
  .dropdown__section {
    min-width: max-content;
  }
}

.hidden {
  opacity: 0;
}
