<div class="container" (appClickOutside)="hideDropdown()" appClickOutside>
    <button
        class="filter-btn"
        [ngClass]="{ 'filter-btn--active': isOpen }"
        (click)="toggleDropdown()"></button>
    <ng-container *ngIf="isOpen">
        <app-event-dropdown-component
            (newMenuState)="getPickedOptions($event)"
            *ngIf="menuType === 'events'">
        </app-event-dropdown-component>
    </ng-container>
    <ng-container *ngIf="isOpen">
        <app-unit-dropdown-component
            (newMenuState)="getPickedOptions($event)"
            *ngIf="menuType === 'units'"></app-unit-dropdown-component>
    </ng-container>
</div>
