@use './src/styles' as st;
.filter-btn {
  margin: 40px;

  .dropdown {
    background-color: st.$primary-900;
    color: st.$neutral-600;
    display: flex;
    justify-content: space-evenly;
    // align-items: center;
    padding: 1rem 2rem;
    border-radius: 15px;
    width: 900px;
    &__section {
      border: none;
      // text-align: center;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      // align-items: center;
      // margin: 0 1rem;
      width: max-content;
      // margin: 0 1rem;
      // margin: 0;
      // padding: 0;
      // min-width: max-content;

      width: 20%;
      // width: 200px;
      // margin: 0 1rem;
      border: none;

      legend {
        // text-align: center;

        color: st.$neutral-100;
        padding: 0.5rem 0;
        border-bottom: 1px solid st.$neutral-500;
        width: 100%;
      }

      // & > div {
      //   margin: 0.5rem 0;
      // }

      // margin: 0.5rem 0;
      &__holder {
        position: relative;
        // width: 100%;
        // display: flex;
        label {
          // padding-right: 2rem;
          // padding: 0.5rem 2.4rem 0.2rem 0;
          // background-color: red;
          width: 80%;
          display: inline-block;
          // width: 130px;
          // z-index: 10;
          cursor: pointer;
        }

        &__filtr-option {
          border: none;
          // opacity: 1;
          display: none;
          // margin: -2em;
          // width: 100%;
          // position: relative;
          // padding: 1rem 0;
          // line-height: 2 !important;
        }
        &__filtr-option:checked {
          border: none;

          // width: 0;
          // padding: 0 60px;
        }
        // &__filtr-option:checked:after {
        //   content: '\0078';
        //   // left: 0;
        //   // top: 0;
        //   text-align: center;
        //   padding-left: 0.4rem;
        //   color: st.$neutral-100;
        //   display: block;
        //   // color: red;
        //   transform: translate(80px, -4px);
        //   // position: absolute;
        //   opacity: 1 !important;
        //   width: 40px;
        //   height: 40px;
        // }
        // & {
        //   position: relative;
        // }
        &:has(.dropdown__section__holder__filtr-option:checked) {
          color: st.$neutral-100;
          display: inline-block;
        }
        &:has(.dropdown__section__holder__filtr-option:checked)::after {
          // background-color: red;
          content: '\0078';
          // right: 0;
          // top: 0;
          // text-align: center;
          // padding-left: 0.4rem;
          color: st.$neutral-100;
          // display: block;
          // color: red;
          cursor: pointer;

          // transform: translate(-50px, -2px);
          // transform: translateY(-2px);
          // position: absolute;
          // position: inline-block;

          // width: 40px;
          // height: 40px;
        }
        // .test:after.filter-btn__dropdown__section__filtr-option:checked {
        //   content: '\0078';
        //   // left: 0;
        //   // top: 0;
        //   text-align: center;
        //   padding-left: 0.4rem;
        //   color: st.$neutral-100;
        //   display: block;
        //   // color: red;
        //   transform: translate(80px, -4px);
        //   // position: absolute;
        //   opacity: 1 !important;
        //   width: 40px;
        //   height: 40px;
        // }

        &__sort-option {
          border: none;
          // opacity: 1;
          display: none;
        }
        &:has(.dropdown__section__holder__sort-option:checked) {
          color: st.$neutral-100;
          display: inline-block;
        }
      }
    }
  }

  .icon {
  }

  // .test {
  //   width: 200px;
  //   height: 200px;
  // }
}
//
