<div (appClickOutside)="hideDropdown()">
    <button
        [ngClass]="{ 'filter-btn--active': isOpen }"
        class="filter-btn"
        (click)="toggleDropdown()"></button>
    <ng-container *ngIf="menuType === 'events'">
        <app-event-dropdown-component
            [ngClass]="{ hidden: !isOpen }"
            (newMenuState)="updateMenuState($event)">
        </app-event-dropdown-component>
    </ng-container>
    <ng-container *ngIf="menuType === 'units'">
        <app-unit-dropdown-component
            [ngClass]="{ hidden: !isOpen }"
            (newMenuState)="updateMenuState($event)">
        </app-unit-dropdown-component>
    </ng-container>
</div>
