@use '@angular/material' as mat;

@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&family=Unbounded:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@200;300;400;500;600;700&family=Unbounded:wght@500&display=swap');

@include mat.core();

$gold-palette: (
  100: #eddebf,
  200: #eddebf,
  300: #efd6b3,
  500: #e9ce7f,
  600: #d69840,
  700: #d69840,
  800: #c17605,
  900: #c17605,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
  ),
);

$my-typography: mat.define-typography-config(
  $font-family: 'Mukta Vaani',
);

$app-name-primary: mat.define-palette($gold-palette, 600, 300, 800, 600);
$app-name-accent: mat.define-palette(mat.$green-palette);
$app-name-warn: mat.define-palette(mat.$red-palette);

$app-name-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-name-primary,
      accent: $app-name-accent,
      warn: $app-name-warn,
    ),
    typography: $my-typography,
  )
);

@include mat.input-color($app-name-theme);
@include mat.form-field-color($app-name-theme);
@include mat.select-color($app-name-theme);
@include mat.chips-color($app-name-theme);

:root {
  font-family: 'Mukta Vaani', 'sans-serif';
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

//////////////// COLORS ////////////////

$primary-400: #4d4442;
$primary-800: #2c2120;
$primary-900: #211918;

$neutral-100: #ffffff;
$neutral-300: #f7f3f2;
$neutral-500: #adadad;
$neutral-800: #323232;
$neutral-900: #000000;

$accent-gold-200: #eddebf;
$accent-gold-300: #efd6b3;
$accent-gold-500: #e9ce7f;
$accent-gold-700: #d69840;
$accent-gold-800: #c17605;

$accent-error: #ff4040;
$accent-success: #88b42d;

.bg-gradient-primary-1 {
  background: linear-gradient(270deg, #323232 0%, #2c2120 93.23%);
}

.bg-gradient-primary-2 {
  background: linear-gradient(
    180deg,
    rgba(62, 44, 43, 0.92) 0%,
    rgba(81, 55, 53, 0.92) 57.29%,
    rgba(53, 39, 38, 0.92) 99.48%
  );
}

.bg-gradient-neutral-1 {
  background: linear-gradient(90deg, #ffffff 20.82%, #e4e4e4 78.72%);
}
.bg-gradient-neutral-2 {
  background: linear-gradient(
    102.22deg,
    #c0c0c0 2.92%,
    #eeeeee 17.75%,
    #ffffff 53.84%,
    #eeeeee 86.46%,
    #c0c0c0 97.83%
  );
}

.bg-gradient-neutral-3 {
  background: linear-gradient(
    125.67deg,
    rgba(234, 235, 241, 0.8) 0.31%,
    rgba(249, 251, 251, 0.8) 48.39%,
    rgba(249, 251, 251, 0.8) 98.02%
  );
}

.bg-gradient-gold-1 {
  background: linear-gradient(
    283.96deg,
    #a86c2d 3.84%,
    rgba(254, 235, 87, 0.88) 49.33%,
    #bf7b30 96.92%
  );
}

.bg-gradient-green-1 {
  background: linear-gradient(283.96deg, #37514b 3.84%, #40a37e 49.33%, #338666 96.92%);
}
.bg-gradient-green-2 {
  background: linear-gradient(90.03deg, #2e9461 9.8%, #18edd0 46.9%, #1cae6e 88.08%);
}

//////////////// TYPOGRAPHY ///////////////////

.text-h1 {
  font-size: clamp(2.25rem, 5.1vw + 1.25rem, 4.5rem);
}
.text-h2 {
  font-size: clamp(1.5rem, 3.4vw + 0.81rem, 3rem);
}
.text-h3 {
  font-size: clamp(1.125rem, 2vw + 0.75rem, 2rem);
}
.text-h4 {
  font-size: clamp(1rem, 1.13vw + 0.75rem, 1.5rem);
}
.text-h5 {
  font-size: clamp(1rem, 0.56vw + 0.87rem, 1.25rem);
}
.text-h6 {
  font-size: clamp(1rem, 0.25vw + 0.94rem, 1.125rem);
}
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
  font-weight: 700;
  font-family: 'Eczar', 'sans-serif';
  line-height: 1.3;
}
.text-body {
  font-size: 1rem;
}
.text-body-big {
  font-size: 1.14rem;
}
.text-body-small {
  font-size: 0.88rem;
}
.text-body-big,
.text-body-small .text-body,
.text-body-big,
.text-body-small {
  font-weight: 400;
  line-height: 1.5;
}
//////////////// BREAK POINTS ////////////////

@mixin media-sm {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (min-width: 560px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin media-max {
  @media screen and (min-width: 1920px) {
    @content;
  }
}

//////////////// MATERIAL  ////////////////

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  color: $accent-gold-300 !important;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__text-label {
  color: $accent-gold-800 !important;
}

//////////////// COMPONENTS ////////////////

app-root {
  display: block;
  background-image: url('assets/bg-images/main-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: min(100vw, 1920px);
  margin-inline: auto;
}

//////////////// BUTTONS  ////////////////

////////////// Rectangle buttons ///////

.btn-rect {
  min-width: 150px;
  border: none;
  font-family: 'Eczar', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.125rem;
  color: $neutral-900;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

.btn-rect--sm {
  min-width: 80px;
  font-size: 0.95rem;
  padding: 0.1rem 1.2rem;
}

.btn-default {
  @extend .bg-gradient-gold-1;
  box-shadow: 0 0 0 1px #d6b84a, 0 0 0 2px #c39c3c, 0 0 0 3px #d1ac4c, 0 0 0 4px #b99b53,
    0 0 0 5px #36260b, 0 0 0 6px #311c10, 0 0 0 7px #82573a, 0 0 0 8px #ca9d7c,
    0 0 0 9px #644b3a;
}

.btn-black {
  @extend .bg-gradient-primary-1;
  box-shadow: 0 0 0 1px #aaa096, 0 0 0 2px #f1e3e3, 0 0 0 3px #d9d6d3, 0 0 0 4px #bfbcba,
    0 0 0 5px #afafaf, 0 0 0 6px #9e9e9e;
}

.btn-green {
  @extend .bg-gradient-green-1;
  box-shadow: 0 0 0 1px #253b3a, 0 0 0 2px #d6b84a, 0 0 0 3px #c39c3c, 0 0 0 4px #d1ac4c,
    0 0 0 5px #b99b53, 0 0 0 6px #36260b, 0 0 0 7px #311c10, 0 0 0 8px #82573a,
    0 0 0 9px #ca9d7c, 0 0 0 10px #644b3a;
}

.btn-rect:disabled {
  opacity: 0.6;
}

.btn-rect:not([disabled]) {
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}
