@use "@angular/material" as mat;

@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&family=Unbounded:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@200;300;400;500;600;700&family=Unbounded:wght@500&display=swap");

@include mat.core();

$gold-palette: (
  100: #eddebf,
  200: #eddebf,
  300: #efd6b3,
  500: #e9ce7f,
  600: #d69840,
  700: #d69840,
  800: #c17605,
  900: #c17605,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
  ),
);

$my-typography: mat.define-typography-config(
  $font-family: "Mukta Vaani",
);

$app-name-primary: mat.define-palette($gold-palette, 600, 300, 800, 600);
$app-name-accent: mat.define-palette(mat.$green-palette);
$app-name-warn: mat.define-palette(mat.$red-palette);

$app-name-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-name-primary,
      accent: $app-name-accent,
      warn: $app-name-warn,
    ),
    typography: $my-typography,
  )
);

@include mat.input-color($app-name-theme);
@include mat.form-field-color($app-name-theme);
@include mat.select-color($app-name-theme);
@include mat.chips-color($app-name-theme);

:root {
  font-family: "Mukta Vaani", "sans-serif";
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

html,
body {
  height: 100%;
}

//////////////// COLORS ////////////////

$primary-400: "#4D4442";
$primary-800: "#2C2120";
$primary-900: "#211918";

$neutral-100: "#FFFFFF";
$neutral-300: "#F7F3F2";
$neutral-500: "#ADADAD";
$neutral-800: "#323232";
$neutral-900: "#000000";

$accent-gold-200: "#EDDEBF";
$accent-gold-300: "#EFD6B3";
$accent-gold-500: "#E9CE7F";
$accent-gold-700: "#D69840";
$accent-gold-800: "#C17605";

$accent-error: "#FF4040";
$accent-success: "#88B42D";

.bg-gradient-primary-1 {
  background: linear-gradient(270deg, #323232 0%, #2c2120 93.23%);
}

.bg-gradient-primary-2 {
  background: linear-gradient(
    180deg,
    rgba(62, 44, 43, 0.92) 0%,
    rgba(81, 55, 53, 0.92) 57.29%,
    rgba(53, 39, 38, 0.92) 99.48%
  );
}

.bg-gradient-neutral-1 {
  background: linear-gradient(90deg, #ffffff 20.82%, #e4e4e4 78.72%);
}
.bg-gradient-neutral-2 {
  background: linear-gradient(
    102.22deg,
    #c0c0c0 2.92%,
    #eeeeee 17.75%,
    #ffffff 53.84%,
    #eeeeee 86.46%,
    #c0c0c0 97.83%
  );
}
.bg-gradient-gold-1 {
  background: linear-gradient(
    283.96deg,
    #a86c2d 3.84%,
    rgba(254, 235, 87, 0.88) 49.33%,
    #bf7b30 96.92%
  );
}

.bg-gradient-green-1 {
  background: linear-gradient(283.96deg, #37514b 3.84%, #40a37e 49.33%, #338666 96.92%);
}
.bg-gradient-green-2 {
  background: linear-gradient(90.03deg, #2e9461 9.8%, #18edd0 46.9%, #1cae6e 88.08%);
}

//////////////// TYPOGRAPHY ///////////////////

.text-h1 {
  font-size: clamp(2.25rem, 5.1vw + 1.25rem, 4.5rem);
}
.text-h2 {
  font-size: clamp(1.5rem, 3.4vw + 0.81rem, 3rem);
}
.text-h3 {
  font-size: clamp(1.125rem, 2vw + 0.75rem, 2rem);
}
.text-h4 {
  font-size: clamp(1rem, 1.13vw + 0.75rem, 1.5rem);
}
.text-h5 {
  font-size: clamp(1rem, 0.56vw + 0.87rem, 1.25rem);
}
.text-h6 {
  font-size: clamp(1rem, 0.25vw + 0.94rem, 1.125rem);
}
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
  font-weight: 700;
  font-family: "Eczar", "sans-serif";
}
.text-body {
  font-size: 1rem;
}
.text-body-big {
  font-size: 1.14rem;
}
.text-body-small {
  font-size: 0.88rem;
}
.text-body-big,
.text-body-small .text-body,
.text-body-big,
.text-body-small {
  font-weight: 400;
  line-height: 1.5;
}
//////////////// BREAK POINTS ////////////////

@mixin media-sm {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (min-width: 560px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin media-max {
  @media screen and (min-width: 1920px) {
    @content;
  }
}

//////////////// MATERIAL  ////////////////

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  color: $accent-gold-300 !important;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__text-label {
  color: $accent-gold-800 !important;
}

app-root {
  display: block;
  background-image: url("assets/bg-images/main-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: min(100vw, 1920px);
  margin-inline: auto;
}
