@use "@angular/material" as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&family=Unbounded:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@200;300;400;500;600;700&family=Unbounded:wght@500&display=swap");
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-name-primary: mat.define-palette(mat.$indigo-palette);
$app-name-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-name-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-name-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-name-primary,
      accent: $app-name-accent,
      warn: $app-name-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($app-name-theme);

/* You can add global styles to this file, and also import other style files */
:root {
  font-family: "Mukta Vaani", "sans-serif";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

html,
body {
  height: 100%;
}
@layer base {
  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6 {
    @apply font-bold;
  }
  .text-body,
  .text-body-big,
  .text-body-small {
    @apply font-normal leading-6;
  }
}

@layer utilities {
  .bg-gradient-primary-1 {
    background: linear-gradient(270deg, #323232 0%, #2c2120 93.23%);
  }

  .bg-gradient-primary-2 {
    background: linear-gradient(
      180deg,
      rgba(62, 44, 43, 0.92) 0%,
      rgba(81, 55, 53, 0.92) 57.29%,
      rgba(53, 39, 38, 0.92) 99.48%
    );
  }

  .bg-gradient-neutral-1 {
    background: linear-gradient(90deg, #ffffff 20.82%, #e4e4e4 78.72%);
  }
  .bg-gradient-neutral-2 {
    background: linear-gradient(
      102.22deg,
      #c0c0c0 2.92%,
      #eeeeee 17.75%,
      #ffffff 53.84%,
      #eeeeee 86.46%,
      #c0c0c0 97.83%
    );
  }
  .bg-gradient-gold-1 {
    background: linear-gradient(
      283.96deg,
      #a86c2d 3.84%,
      rgba(254, 235, 87, 0.88) 49.33%,
      #bf7b30 96.92%
    );
  }
  .bg-gradient-green-1 {
    background: linear-gradient(283.96deg, #37514b 3.84%, #40a37e 49.33%, #338666 96.92%);
  }
  .bg-gradient-green-2 {
    background: linear-gradient(90.03deg, #2e9461 9.8%, #18edd0 46.9%, #1cae6e 88.08%);
  }
}
