@use './src/styles/colors' as colors;

.items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: min(90%, 1200px);
  margin-inline: auto;
  border-radius: 10gpx;
  margin-top: 2rem;
}

tr:nth-of-type(odd):not(.mat-mdc-header-row) {
  background: colors.$neutral-300;
}
.mat-mdc-cell.mdc-data-table__cell {
  word-break: break-all;
}
