.basic-container {
  display: flex;
  margin: 2rem;
  flex-direction: column;
  border-radius: 25px;
  padding: 2rem;

  & > *:not(.basic-container__btns) {
    max-width: max-content;
  }

  &__btns {
    margin-top: 2rem;
    padding: 2rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  p {
    margin-bottom: 1rem;
  }
}

.cards-wrapper {
  border-radius: 25px;
  padding: 2rem;
  margin: 2rem;
  & > p {
    padding-bottom: 2rem;
  }
  &--inner {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.power-icon__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 25px;

  margin: 2rem;
  padding: 2rem;
  &__inner {
    margin-top: 40px;
    display: flex;
    gap: 40px;
  }
}

.circular-buttons-container {
  display: flex;
  margin: 2rem;
  flex-direction: column;
  border-radius: 25px;
  padding: 2rem;

  &__btns {
    margin-top: 2rem;
    padding: 2rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  &__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p {
    margin-bottom: 1rem;
  }
}

.filtr-search-btn__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  border-radius: 25px;
  padding: 2rem;
  height: max-content;
  .filter-search-btn__inner {
    margin-top: 10px;
    height: 300px;
    display: flex;

    justify-content: center;
  }
}
.displayNavbar {
  margin-bottom: 50px;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  &__bar1,
  &__bar2,
  &__bar3 {
    width: 44.5px;
    height: 5px;
    background: linear-gradient(90deg, #dfce98 20.82%, #99783f 78.72%);
    margin: 6px 0;
    transition: 0.4s;
  }
}

.change .hamburger__bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .hamburger__bar2 {
  opacity: 0;
}

.change .hamburger__bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
