<section class="members bg-gradient-primary-1--inverted">
    <div class="members__search-wrapper">
        <mat-icon>search</mat-icon>
        <input
            type="text"
            class="members__search-input"
            placeholder="Szukaj..."
            maxlength="80" />
    </div>
    <ul>
        <li *ngFor="let member of members">
            {{ member.firstName }}
            {{ member.lastName }}
            <img
                *ngIf="member.id === organizerId"
                src="assets/event-details-icons/crown.svg"
                alt="" />
        </li>
    </ul>
</section>
